<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-xl  navbar-light bg-light fixed-top" >
  <a class="navbar-brand" href="#">
    <img src="../assets/crystaldrop.png"  alt="">
  </a>
  <button class="navbar-toggler " type="button" data-toggle="collapse"  data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="nav navbar-nav mr-auto">

    </ul>
    <ul class="nav navbar-nav mr-rg">
      <li class="nav-item active">
        <a class="nav-link js-scroll-trigger" href="#features">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#features">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#plans">Plans</a>
      </li>
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#test">Testimonials</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Auth
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Login</a>
          <a class="dropdown-item" href="#">Signup</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Logout</a>
        </div>
      </li>
      <li class="nav-item" >
        <a class="nav-link" data-toggle="modal" data-target="#exampleModal">Track</a>
      </li>

    </ul>
  </div>
</nav>



<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Tracking Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Track guy
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
