nav {
  width: 100%;


  background: -webkit-linear-gradient(#FFFFFf,#FFFFFf,#FFFFFf,#FFFFFf,#FFFFFf);
  background: -o-linear-gradient(#FFFFFf,#FFFFFf,#FFFFFf,#FFFFFf,#FFFFFf);
  background: linear-gradient(#FFFFFf,#FFFFFf,#FFFFFf,#FFFFFf,#FFFFFf);

  -moz-box-shadow: 0px 5px 57px -31px rgba(0,0,0,1);
  box-shadow: 0px 5px 57px -31px rgba(0,0,0,1);

}



/* and this styles the dropdwon trigger link, when open */


.nav li{
  padding-right:10px;
}
.navbar { font-family: 'Oswald', sans-serif !important; }
.navbar-brand { font-weight: 700; font-size: 30px; }
.navbar-inverse a { color: #ccc !important; }
.navbar-inverse a:hover { background: #333 !important; }
.navbar-nav a { font-weight: 400; font-size: 14px; }
.dropdown-menu.inverse { background: #ffffff; }
.dropdown-menu.inverse a { font-weight: 300; color: #ccc; }
