
.site__title {
  color: #eaf348;
  display: inline-block;
  margin: 0;
  padding: 0 35px 15px;
  border-bottom: 3px solid #f4f4f4;
  background-image: -webkit-linear-gradient(92deg, #3cf347, #feaf20);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 3s infinite linear;
}
.site__title + p {
  color: #6C7A89;
  margin-top: 10px;
  margin-left: 30%;
  margin-right: 30%;
}

.mega {
  font-size: 5rem;
  line-height: 1;
  font-weight: 100;

}
.mini {
  font-size: 3rem;
  line-height: 1;
  font-weight: 100;

}
@keyframes hue {
  0% {
    -webkit-filter: hue-rotate(0deg);
  }

  100% {
    -webkit-filter: hue-rotate(-360deg);
  }
}

.head-title {

  font-weight: bold;
  color: #446cb3;
}



.btn-outline-primary {
  color: #446cb3;

  background-color: transparent;
  border-color: #446cb3;
}
.btn-outline-primary:hover {
  color: #fff;
  background-color: #446cb3;
  border-color: #446cb3;
}
.btn-outline-primary:focus, .btn-outline-primary.focus {
  color: #fff;
  background-color: #446cb3;
  border-color: #446cb3;
}


p {

  margin-top: 50px;
  margin-bottom: 100px;
  color: #fff;

}
h1{
  color: #fff;
 padding-top: 40px;

}
.footer{
  position: relative;
  margin-top: 150px; /* negative value of footer height */
  height: 100px;
  padding-top: 30px;
  background-color: rgba(1, 8, 26, 0.91);
}
