<section id="features">
<div class="wow fadeInDown" style="text-align:center; margin-top: 160px;" >
  <h1 class="site__title mega ">
    CrystalDrop
  </h1>
</div>

<div class="row mt-5" style="text-align:center; ">
  <div class="col-sm wow fadeInLeft">
    <h2 class="head-title">Purest</h2>
    <h5>We consistently exceed all standards as prescribed by FSAI</h5>
  </div>
  <div class="col-sm wow fadeInLeft " style="-webkit-animation-delay: 0.5s;">
    <h2 class="head-title">Safest</h2>
    <h5>Untouched by hand, each dispenser’s integrity can be verified online via QR Code</h5>
  </div>
  <div class="col-sm wow fadeInLeft" style="-webkit-animation-delay: 1s;">
    <h2 class="head-title">Easiest</h2>
    <h5>Your dispenser senses when it needs replacement and triggers delivery</h5>
  </div>
</div>
<div class="wow fadeInDown mt-5" style="text-align:center;" >

  <a href="#plans" class="btn btn-lg btn-outline-primary btn-block" role="button" aria-pressed="true">Join Today</a>
</div>

<div class="wow fadeInDown" style="text-align:center; margin-top: 100px;" >
  <h1 class="site__title mini ">
    Purest
  </h1>
  <p>{{pure}} </p>
</div>
<div class=" wow fadeInDown " style="text-align:center; margin-top: 100px;"  >
  <h1 class="site__title mini ">
    Safest
  </h1>
  <p>{{safe}}</p>
</div>
<div class="wow fadeInDown" style="text-align:center; margin-top: 100px;" >
  <h1 class="site__title mini">
    Easiest
  </h1>
  <p>{{easy}} </p>
</div>
</section>


<section id="test">
  <div  style=" background-color: #446cb3" >
    <div class="container mt-5">
  <div class="container" style="text-align: center; margin-top: 150px ">
    <h1>
      Testimonials
    </h1>
  </div>
  <div id="carouselContent" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active text-center p-4">
        <p>lorem ipsum (imagine longer text)</p>
      </div>
      <div class="carousel-item text-center p-4">

        <p>lorem ipsum (imagine longer text)</p>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselContent" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselContent" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
</div>
</section>

<section id="plans">
<div class="wow fadeInDown mt-5" style="text-align:center;" >
  <h1 class="site__title mega ">
    Plans
  </h1>
</div>
<div class="row mt-5" style="text-align:center; ">
  <div class="col-sm wow fadeInLeft">
    <h3 class="head-title">30 Pack </h3>
    <h5>60 INR Per can</h5>
    <h2>INR 1,800</h2>
  </div>
  <div class="col-sm wow fadeInLeft " style="-webkit-animation-delay: 0.5s;">

    <h3 class="head-title">60 Pack </h3>
    <h5>54 INR Per can</h5>
    <h2>INR  3,240 </h2>
  </div>
  <div class="col-sm wow fadeInLeft" style="-webkit-animation-delay: 1s;">
    <h3 class="head-title">90 Pack </h3>
    <h5>54 INR Per can</h5>
    <h2>INR 4,860</h2>
  </div>
</div>
</section>

<footer class="footer" >
  <div class="container">
    <div class="col-sm-12 text-center" style="color: #ffffff">
      <i class="fa fa-facebook"></i>
      <i class="fa fa-twitter"></i>
      <i class="fa fa-github"></i>

    </div>
    <div class="col-sm-12 text-center" style="color: #ffffff">
      &copy; Copyright - crystaldrop
    </div>


  </div>
</footer>
